        <% if notice %>
            <div id="notice">
                <img src="/assets/hearticon.png" border="0" alt="" text="" />
                 <%= notice.html_safe %>
        <% end %>
    <h1>
        <%= randomize_index_phrase.html_safe %>
    </h1> 
<% if !user_signed_in? %>
<br> <br> <br>
            <div id="facebook-mainpage">
                <a href="/users/auth/facebook"><img src="/assets/facebook.gif" alt="" border=""></a><p>
                    התחברו עכשיו
                    <br>
                        והתחילו לשחק אותה שדכנים<Br>
                        בין החברים שלכם
                </p>
            </div> 
<% else %>
    <div class="couple_wrapper">
        <div class="match_wrapper">
            <p class="caption">
          <%= image_tag(@female["pic_big"], :size => '200x220', :class => 'perfect_match_image') %>
                <span><%= @female["name"] %></span>
            </p>
        </div> 

        <div class="match_wrapper">
            <p class="caption">
                <%= image_tag(@male["pic_big"], :size => '200x220', :class => 'perfect_match_image', :id => 'default') %>
                <span><%= @male["name"] %></span>
            </p>
        </div>
<br><br>
        <br /> <br />
        <%= form_for(@match) do |f| %>
            <%= f.submit "דווקא זורם", :name => "yes", :class => "btn-yes" %>
            <%= f.submit "וואלה לא מתאים", :name => "no", :class => "btn-no" %> 
        <% end %>
    </div>  
<% end %>


<% content_for :head do %>
    <meta property="og:title" content="Dude! Set me up!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.dudesetmeup.com" />
    <meta property="og:site_name" content="dudesetmeup" />
    <meta property="og:image" content="http://www.dudesetmeup.com/assets/logo.gif" />
    <meta property="og:description" content="Social pick app that help you match between your friends." />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34929801-1']);
      _gaq.push(['_setDomainName', 'dudesetmeup.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
<% end %>