<% if !user_signed_in? %>
<br> <br> <br>
            <div id="facebook-mainpage">
                <a href="/users/auth/facebook"><img src="/assets/facebook.gif" alt="" border=""></a><p>
                    התחברו עכשיו
                    <br>
                        והתחילו לשחק אותה שדכנים<Br>
                        בין החברים שלכם
                    
                </p>
            </div> 
<% else %>
    <div class="couple_wrapper">
        <div class="match_wrapper">
            <p class="caption">
          <%= image_tag(@female["pic_big"], :size => '200x220', :class => 'perfect_match_image') %>
                <span><%= @female["name"] %></span>
            </p>
        </div> 

        <div class="match_wrapper">
            <p class="caption">
                <%= image_tag(@male["pic_big"], :size => '200x220', :class => 'perfect_match_image', :id => 'default') %>
                <span><%= @male["name"] %></span>
            </p>
        </div>
<br>
        <br /> <br />
        <%= form_for(@match) do |f| %>
            <%= f.submit "דווקא זורם", :name => "yes", :class => "btn-yes" %>
            <%= f.submit "וואלה לא מתאים", :name => "no", :class => "btn-no" %> 
        <% end %>
    </div>  
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>