<h1>
	<%= randomize_happy_phrase.html_safe %>
</h1> 
<div class="heartbg">
    <div class="couple_wrapper">
        <div class="match_wrapper">
            <p class="caption">
          <%= image_tag(@match.female["pic_big"], :size => '200x220', :class => 'perfect_match_image') %>
                <span><%= @match.female["name"] %></span>
            </p>
        </div> 

        <div class="match_wrapper">
            <p class="caption">
                <%= image_tag(@match.male["pic_big"], :size => '200x220', :class => 'perfect_match_image', :id => 'default') %>
                <span><%= @match.male["name"] %></span>
            </p>
        </div>
        <div class="matchedby">
			<span class="matchedby_name"><%= @match.user.name %></span>
        </div>
   </div>
  </div>
<br> <br>

<% content_for :head do %>

  <%= tag :meta, property: "fb:app_id", content: "354930974593675" %>
  <%= tag :meta, property: "og:site_name", content: "dude set me up" %>
  <%= tag :meta, property: "og:type", content: "dudesetmeup:match" %>
  <%= tag :meta, property: "og:title", content: @match.male["name"] + ' & ' + @match.female["name"] %>
  <%= tag :meta, property: "og:url", content: match_url(@match) %>


<% end %>

<% content_for :head do %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34929801-1']);
      _gaq.push(['_setDomainName', 'dudesetmeup.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
<% end %>