<!DOCTYPE html>
<html dir=rtl>
<head>
  <title>dude set me up - social pick app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
    <div id="wrapper">
        <div id="topbar">
            <a href="/"><img src="/assets/logo.gif" alt="" height="260" border="" ></a>
        </div>
        <div id="content">
          <%= yield %>
        </div>

    </div>

        <div style="clear:both;"></div>
        <div id="footer">
          <ul>
            <li><%= link_to "ראשי", matches_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "לוג אאוט (" + current_user.name + ")", destroy_user_session_path, :method => :delete %></li>
            <% end %>
            <li><%= link_to "אודות וכו'", about_page_path %></li>
          </ul>
        </div>
</body>
</html>
