<!DOCTYPE html>
<html dir=rtl>
<head>
  <title>dude set me up - social pick app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
    <div id="wrapper">
        <div id="topbar">
            <a href="#"><img src="/assets/logo.gif" alt="" height="260" border="" ></a>
        </div>
        <div id="content">
            <h1>
<!-- אז מה אם אתה<span style="color: #b95959;">"In a Relationship"</span>, זה לא אומר שאתה לא יכול לדאוג לחברים'שך -->
<%= rand_phrase %>
            </h1> 
<%= yield %>

            
        </div>
        
    </div>


</body>
</html>
